body {
  font-family: Helvetica;
  color: #333333;
}

button {
  border: none;
  background: none !important;
  cursor: pointer;
}

button:focus {
  outline:0;
}

.sidenav {
  height: 100%;
  position: fixed;
  margin: 0;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  border-right: solid 1px #B5B5B5;
}

.sidenav-header {
  margin: 0;
  padding: 5px;
  height: 40px;
  border-bottom: solid 2px #B5B5B5;
}

.sidenav-list-empty {
  width: 320px;
  text-align: center;
  margin-top: 40px;
  color: #B6B6B5;
}

.sidenav-header-item {
  padding: 13px 8px;
  font-size: 10px;
  display: flex;
  float: right;
}

.sidenav-header-item .selected {
  color: #4990E2;
}

.sidenav-header-item div {
  margin-right: 5px;
}

.sidenav-header-item div:last-child {
  margin-top: 1px;
}

.page-bg {
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-left: 320px;
  margin-right: 0;
  background-color: #F6F6F7;
}

.page-empty {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: 32px;
}

.page-subject {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

.page-actions {
  float: right;
  display: flex;
}

.page-actions button {
  margin: 0 10px;
  padding: 0;
}

.page-contact {
  font-size: 16px;
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0;
}

.page-from {
  display: inline;
  color: #7070ff;
}

.page-date {
  float: right;
  font-size: 12px;
  color: #8B8B8B;
}

.page-content {
  font-size: 14px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -2px #B5B5B5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

li button {
  margin: 0;
  padding: 15px 15px 15px 25px;
  height: 80px;
  width: 320px;
  font-size: 12px;
  border-bottom: solid 1px #B5B5B5;
  text-align: left;
}

li button > svg {
  float: left;
  margin-right: 5px;
}

li > .unread {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #4990E2;
  position: absolute;
  margin-top: 35px;
  margin-left: 10px;
}

.mail-selected-bar {
  border-left: thick solid #4990E2;
  position: absolute;
  margin: 0;
  height: 80px;
}

.mail-selected {
  background-color: #F9F9F9 !important;
}

.contact {
  font-weight: bold;
}

.sub-text {
  color: #9B9B9B;
}

.mail-date {
  float: right;
}